.progress-bar {
  position: relative;
  background-color: hsl(0, 0%, 88%);
  border-radius: var(--progress-bar-border-radius, 5px);
  width: var(--progress-bar-width, 100%);
  height: var(--progress-bar-height, 5px);
  overflow: hidden;
}

.progress-bar > div {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--progress-bar-bg, var(--greenish-cyan));
  transition: width 0.5s;
}

@keyframes pumping {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
