.locations-search {
  /* used to control its internal prop by outside parent container */
  --default-radius: var(--locations-search-border-radius, 100px);
  --default-bg: var(--locations-search-bg);

  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--default-bg);
  padding-left: 10px;
  border-top-left-radius: var(--default-radius);
  border-bottom-left-radius: var(--default-radius);
}

.locations-search__output-wrapper {
  display: flex;
  gap: 5px;
  width: var(--locations-search-output-width, 100px);
  overflow: scroll;
}

.locations-search__output {
  align-content: center;
  background-color: var(--locations-search-output-bg);
  display: flex;
  white-space: nowrap;
  padding: 0 5px;
}

.locations-search__output__delete {
  transition: opacity 0.3s;
}

.locations-search__output__delete svg {
  height: 100%;
  width: max-content;
  cursor: pointer;
  margin-left: 5px;
}

.locations-search input {
  background-color: transparent;
  font-size: inherit;
  width: 100px;
  caret-color: var(--btn-bg, var(--greenish-cyan)); /*THEME+*/
}

.locations-search__output > *,
.locations-search input {
  opacity: 0.5;
}

.locations-search__output__delete:hover {
  opacity: 1;
}

.locations-search button svg * {
  fill: currentColor;
}
