.header {
  --locations-search-padding: var(--tiny-padding);
  --locations-search-bg: var(--lighter-grey);
  --locations-search-output-bg: var(--light-grey);
  --locations-search-border-radius: var(--default-radius);
  --header-vertical-padding: calc(var(--vertical-padding) / 2);
  --header-horizontal-padding: var(--horizontal-padding);

  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--alt-bg);
  color: var(--alt-color-1);
  padding: var(--header-vertical-padding) var(--header-horizontal-padding);
}

.header__location-search {
  order: 1;
  --btn-padding: var(--tiny-padding);
  --btn-border-radius: 0 var(--default-radius) var(--default-radius) 0;
}

.header__location-search button {
  display: flex;
  align-items: center;
}

.nav {
  order: 2;
  position: relative;
  height: 100%;
  padding: var(--tiny-padding);
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
  overflow: hidden;
}

.nav__links {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.nav__link {
  cursor: pointer;
  white-space: nowrap;
  transition: opacity 0.5s;
}

.nav__link:hover {
  opacity: 0.6;
}

.header__control {
  display: flex;
  cursor: pointer;
  transition: all 0.5s;
}

.header__control svg * {
  fill: currentColor;
}

@media (max-width: 800px) {
  .header {
    --header-horizontal-padding: 40px;
  }
}

@media (max-width: 700px) {
  .header {
    flex-direction: column;
    background-color: transparent;
    padding: 0;
  }

  .header__location-search {
    --locations-search-output-width: max-content;
    --btn-border-radius: 0px;

    display: flex;
    order: 1;
    justify-content: flex-end;
    width: 100%;
    margin-left: auto;
  }

  .nav {
    padding: var(--header-vertical-padding);
    order: 0;
    width: 100%;
    background-color: var(--alt-bg);
  }
}
